<nav class="navigation-menu">
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <a routerLink="/home" routerLinkActive="active">
          <img class="logo" src="./assets/images/logoBlanco.png" alt="Charming Bogota">
        </a>
      </div>
      <div class="col text-right show-from-small h-100">
        <a href="javascript:show('inner-menu')">
          Cerrar<app-icons-defs [icon]="{fill: 'white', class:'close-menu', width:'20px', height:'20px', icon:'#icon-close'}">
          </app-icons-defs>
        </a>
      </div>
      <div class="col text-right show-until-small h-100">
        <a href="javascript:show('inner-menu')">
          <app-icons-defs [icon]="{fill: 'white', class:'', width:'20px', height:'20px', icon:'#icon-close'}">
          </app-icons-defs>
        </a>
      </div>
    </div>
  </div>
</nav>