.fixed-top {
    top: 6.5em;
}

.cerrar {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 5;
}

.detail-breakfast {
    background: mistyrose;
}

.card-text li {
    list-style: none;
}

@media (max-width: 767.98px) {
    .card.small-detail {
        width: 80%;
        margin: auto;
    } 
}

@media (min-width: 767.98px) and (max-width: 991.98px){
    .card.small-detail {
        width: 65%;
        margin: auto;
        padding: 0;
    }
    .md-detail .pt-3{
        padding-top: 0 !important;
    }
    .md-detail .card-title,
    .md-detail .text-muted {
        margin-bottom: 0;
    }
    .md-detail .card-body {
        padding: 0.5rem 1.25rem;
    }
    .md-detail {
        font-size: 0.7em;
    }  
    .md-detail h2 {
        font-size: 0.9rem;
    }
    .md-detail h3 {
        font-size: 0.8rem;
    }
    .small-detail .btn {
        font-size: 0.7rem;
        padding: 0.25rem;
    }
}

@media (max-width: 575.98px) {
    .small-detail .pt-3 {
        padding-top: 0 !important;
    }
    .small-detail .pb-3 {
        padding-bottom: 0 !important;
    }
    .small-detail {
        font-size: 0.5em;
    }
    .small-detail .card-title,
    .small-detail .text-muted {
        margin-bottom: 0;
    }
    .small-detail .card-body {
        padding: 0.2rem 1.25rem;
    }
    .small-detail h2 {
        font-size: 0.8rem;
    }
    .small-detail h3 {
        font-size: 0.7rem;
    }
    .small-detail .btn {
        font-size: 0.7rem;
        padding: 0.25rem;
    }
    .card.small-detail {
        width: 70%;
        margin: auto;
    }
    .fixed-top {
        top: 5.5em;
    }
}