<nav class="navigation">
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <a href="/">
          <img class="logo" src="assets/images/logocharming.png" alt="Charming Bogota">
        </a>
      </div>
      <div class="col text-right text-uppercase show-from-small">
        <a href="javascript:show('inner-menu')">
          Menú
          <app-icons-defs 
            [icon]="{fill: '#003979', class: 'nav-svg', width: '20px', height: '20px', icon: '#icon-menu'}">
          </app-icons-defs>
        </a>
      </div>
      <div class="col text-right text-uppercase show-until-small">
        <a href="javascript:show('inner-menu')">
          <app-icons-defs [icon]="{fill: '#003979', class: 'nav-svg', width: '30px', height: '30px', icon: '#icon-menu'}">
          </app-icons-defs>
        </a>
      </div>
    </div>
  </div>
</nav>