<div id="inner-menu" (window:resize)="onResize()">
  <app-nav-menu></app-nav-menu>
  <div class="container menu h-100">
    <div class="row align-items-center justify-content-center h-100">
      <ul class="list-menu">
        <li><a routerLink="/desayunos" routerLinkActive="active">DESAYUNOS</a></li>
        <li><a href="#">CENAS</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li><a href="#">FORMAS DE PAGO</a></li>
        <li><a href="#">ENTREGAS</a></li>
        <li><app-social-networks></app-social-networks></li>
      </ul>
    </div>
  </div>
</div>