<ul class="social-media show-from-medium">
  <li>
    <a href="https://www.facebook.com/Charming-Bogota-768398979865627/" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '50px', height: '50px', icon: '#icon-facebook'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/charmingbogota/?hl=es-la" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '50px', height: '50px', icon: '#icon-instagram'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://api.whatsapp.com/send?phone=573105873137" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '50px', height: '50px', icon: '#icon-whatsapp'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/charmingbogota?lang=en" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '50px', height: '50px', icon: '#icon-twitter'}">
      </app-icons-defs>
    </a>
  </li>
</ul>

<ul class="social-media-movil show-until-medium">
  <li>
    <a href="https://www.facebook.com/Charming-Bogota-768398979865627/" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '40px', height: '40px', icon: '#icon-facebook'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/charmingbogota/?hl=es-la" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '40px', height: '40px', icon: '#icon-instagram'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://api.whatsapp.com/send?phone=573105873137" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '40px', height: '40px', icon: '#icon-whatsapp'}">
      </app-icons-defs>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/charmingbogota?lang=en" target="_blank">
      <app-icons-defs 
        [icon]="{fill: 'whitesmoke', class: '', width: '40px', height: '40px', icon: '#icon-twitter'}">
      </app-icons-defs>
    </a>
  </li>
</ul>