<div class="container aditionals">
  <div class="row mt-3">
    <div class="col">
      <h2 class="text-center">ADICIONALES</h2>
      <div class="table-responsive">
        <table class="table table-striped table-primary text-center show-from-large">
          <tbody>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
              <td>Arepa</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Porción de fruta</td>
              <td>$ 6.000</td>
              <td>Yogurt</td>
              <td>$ 3.000</td>
              <td>Sandwich de jamón y queso</td>
              <td>$ 4.000</td>
            </tr>
            <tr>
              <td>Chocolates</td>
              <td>$ 8.000</td>
              <td>Pan</td>
              <td>$ 2.000</td>
              <td>Corazón de chocolates</td>
              <td>$ 30.000</td>
            </tr>
            <tr>
              <td>Jugo de naranja</td>
              <td>$ 5.000</td>
              <td>Tamal pequeño</td>
              <td>$ 4.000</td>
              <td>Sashet de jamón</td>
              <td>$ 3.000</td>
            </tr>
            <tr>
              <td>Globo</td>
              <td>$ 6.000 </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped table-primary text-center show-from-small show-until-large">
          <tbody>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped table-primary text-center show-until-small">
          <tbody>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
            <tr>
              <td>Barra de queso</td>
              <td>$ 2.000</td>
            </tr>
            <tr>
              <td>Torta personal</td>
              <td>$ 12.000 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>